#root,
html,
body {
  height: 100vh;
}

body {
  margin: 0;
  background-color: #5d3fd3;
  background-image: url(https://www.transparenttextures.com/patterns/bright-squares.png);
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
